body {
  background: #0f172a;
  color: #e5e7eb;
  font-family: system-ui, sans-serif;
  text-align: center;
  padding: 20px;
}

audio {
  width: 90%;
  max-width: 420px;
  margin: 20px 0;
}

#playlist button {
  margin: 5px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
}

#lyrics {
  margin-top: 30px;
  line-height: 2.2;
  font-size: 18px;
  max-height: 300px;
  overflow-y: auto;
}

.line {
  opacity: 0.4;
  transition: 0.3s;
}

.line.active {
  opacity: 1;
  color: #60a5fa;
  font-size: 20px;
}
